<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DH Heroes</title>
        <link rel="stylesheet" href="/css/stylesYo.css">
    </head>
    <body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Rocio-Arano.jpg" alt="Aquí va una fotode Rocío">
            </div>        
            <div class="detail">
                <h1>Rocío Arano</h1>
                <p><strong>Profesión: </strong>Estudiante de Digital House</p>
                <p><strong>País: </strong>Argentina</p>
                <p><strong>Resenia: </strong> Rocío Arano (Necochea, Buenos Aires, Argentina, 01 de Abril de 1998 -  &#129310  &#128591 En algún lugar bonito, un día medio lejano, en circunstacias nada dolorosas  &#129310  &#129310) fue la persona que escribio esto y organizó los elementos del sitio para que funcionara. Un día hizo algo genial y alguien le escribió una buena reseña.</p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>